h1 Users
a(href="/") Home

form(action="", method="GET")
  input(name="name")
  button(type="submit") Search

a(href="/user/create") Create user

if users.length > 0
  ul
    each user in users
      li
        a(href=`/user/${user.id}`)= `User: ${user.name}`
